In [1]:
import gender_guesser.detector as gender

In [2]:
import pandas as pd

In [3]:
d = gender.Detector(case_sensitive=False)

In [6]:
df = pd.read_csv('stack_exchange_6m.csv',sep='|',names=['Name','Post'])

In [7]:
df.head()

             Name                                               Post
0  Stefano Borini  as from title. what kind of visa class do i ha...
1  Stefano Borini  which online resources are available for job s...
2  Stefano Borini  as from title. not all journals provide the im...
3           Chang  i have seen many engineering departments want ...
4  Stefano Borini        what is the h-index, and how does it work ?

In [8]:
import string
translator = str.maketrans('', '', string.punctuation)

In [9]:
def get_gender(name):
    try:
        n = name.lower()
        if ('mom' in n) or ('girl' in n) or ('angel' in n) or ('mum' in n) or ('mother' in n) or ('woman' in n):
            return 'female'
        if ('boy' in n) or ('dude' in n):
            return 'male'
        temp = name.translate(translator).split()
    except:
        return 'unknown'
    
    if len(temp)>0:
        first_name = temp[0]
        first_name = ''.join([i for i in first_name if not i.isdigit()])
        gender = d.get_gender(first_name,'usa')
        return gender
    else:
        return 'unknown'

In [10]:
df['Gender'] = df['Name'].apply(lambda x:get_gender(x))

In [12]:
df.sample(10)

,Name,Post,Gender
5092756,James Sheridan,"""several months late, but is it the far king b...",male
1852350,DaveM,"no, the iphone strips location data before sha...",unknown
5706195,Justme,it's intentional. it's glue (of some sort) to ...,unknown
4725509,John Mack,"""the oxford english dictionary has some remark...",male
304460,TA3,"""i cannot reduce the screen brightness in ubun...",unknown
1062290,Riedsio,the best (more efficient option) will depend o...,unknown
5430631,Niklas Rosencrantz,"""i'm trying to complete homework with what app...",andy
598045,Byte Commander,there is no 100% black or white answer here. u...,unknown
838008,a-cyclohexane-molecule,you understand the chemistry: intermolecular a...,unknown
677542,Chase,i am getting this error message '/media/vincen...,male

In [13]:
df.groupby('Gender').count()

                  Name     Post
Gender
andy            828381   828381
female          101112   101112
male           1161602  1161602
mostly_female    29590    29590
mostly_male     169552   169552
unknown        3423103  3423103